@{
    ViewData["Title"] = "Home Page";
}

<style>
    .header {
        font-family: "Press Start 2P";
        text-align: center;
    }

    p {
        font-size: 25px;
    }
</style>

<div class="header bg-dark border border-danger rounded mt-5 shadow-lg rounded">
    <h1 class="display-1 mt-4 text-warning">Pokedex</h1>
    <hr class="text-danger" />
    <p class="text-danger">Search For your Favorite Pokemon</p>
</div>

