@model Pokemon
    <style>
        .card-header {
            font-family: "Press Start 2P";
            font-size: 20px;
            text-align: center;
        }

        h5 {
            font-family: "Press Start 2P";
            font-size: 10px;
            font-weight: bold;
        }

        .form-poke {
            font-family: "Press Start 2P";
        }
    </style>

    <div class="form-poke container justify-content-center bg bg-dark p-3 mt-5 border border-danger rounded border shadow-lg">

        <form asp-controller="Pokemon" asp-action="Index">

            <input class="form-control" name="searchString" placeholder="Enter Pokemon Name" />
            <button class="btn btn-warning mt-3" id="submit" name="submit" type="submit" style="font-weight:bold;" value="Search">Search</button>
        </form>

    </div>









